{% block content %}
  <h1>Ride List</h1>
  {% if owner_ride_list %}
  <ul>
    {% if status == 'op' %}
      {% for request in owner_ride_list %}
        <li>
          <a style="color:#888" href = "{{ request.get_ride_edit_url }}">Arrival time: {{ request.arrival_time }} Destination: {{request.destination}}</a>{% if request.driver%}(Driver: {{request.driver}}){% endif %}(status: {{request.status}})
        </li>
      {% endfor %}
    {% else %}
      {% for request in owner_ride_list %}
        <li>
          <a style="color:#888" href = "{{ request.get_ride_detail_url }}">Arrival time: {{ request.arrival_time }} Destination: {{request.destination}}</a>{% if request.driver%}(Driver: {{request.driver}}){% endif %}(status: {{request.status}})
        </li>
      {% endfor %}  
    {% endif %}
  </ul>
  {% else %}
    <p>You don't host any ride.</p>
  {% endif %}       

  <h1>Share List</h1>
  {% if sharer_ride_list %}
  <ul>
    {% for request in sharer_ride_list %}
      <li>
        <a style="color:#888" href = "{{ request.get_ride_detail_url }}">Arrival time: {{ request.arrival_time }} Destination: {{request.destination}}</a>{% if request.driver%}(Driver: {{request.driver}}){% endif %}(status: {{request.status}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>You don't share any ride.</p>
  {% endif %} 

  <h1>Drive List</h1>
  {% if driver_ride_list %}
    <ul>
      {% for request in driver_ride_list %}
        <li>
          <a style="color:#888" href = "{{ request.get_ride_detail_url }}">Arrival time: {{ request.arrival_time }} Destination: {{request.destination}}</a>{% if request.driver%}(Driver: {{request.driver}}){% endif %}(status: {{request.status}})
        </li>
        {% if status == 'cf' %}
          <a style="color:rgb(248, 11, 11)" href = "{{ request.get_driver_complete_url }}">complete</a>
        {% endif %}
      {% endfor %}
    </ul>

  {% else %}
    <p>You don't drive any ride.</p>
  {% endif %} 

{% endblock %}

<p><a href="{% url 'pancakeride:ride_list'%}?s=op">open</a></p>
<p><a href="{% url 'pancakeride:ride_list'%}?s=cf">comfirm</a></p>
<p><a href="{% url 'pancakeride:ride_list'%}?s=cp">complete</a></p>
<p><a href="{% url 'pancakeride:main_home'%}">home</a></p>

{% if status != 'cp' %}
status
{% endif %}